/HW1/Hw1.X/nbproject/private/
/HW1/Hw1.X/build/default/
/HW1/Hw1.X/dist/default/
/HW5/IMU.X/nbproject/private/
/HW5/IMU.X/build/default/
/HW5/IMU.X/dist/default/
/LCDHW/LCD.X/nbproject/private/
/LCDHW/LCD.X/build/default/
/LCDHW/LCD.X/dist/default/
/HW5/LCD.X/nbproject/private/
/HW5/LCD.X/build/default/
/HW5/LCD.X/dist/default/